<div class="container-fluid vh-100 bg-light">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-auto">
            <div class="card mx-auto">
                <div class="card-body">
                    <div class="row pb-2">
                        <div class="col-12 col-md-auto d-flex justify-content-center align-items-center">
                            <img class="img-fluid" height="300" width="300" src="/assets/icons/wallet.svg">
                        </div>
                        <div class="col py-3 pe-md-4 text-center">
                            <h4>Money conversion</h4>
                            <form [formGroup]="conversionForm">

                                <div class="min-height-box d-flex justify-content-center align-items-center"
                                    [ngSwitch]="appState$ | async">

                                    <img *ngSwitchCase="states.idle" class="img-fluid mb-2" height="24"
                                        src="/assets/icons/swap-vertical-bold.svg">

                                    <div *ngSwitchCase="states.loading" class="spinner-grow text-primary mb-2"
                                        role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>

                                    <div *ngSwitchCase="states.expired" class=" w-100">
                                        <div class="alert alert-warning" role="alert">
                                            Quotation expired
                                        </div>
                                    </div>

                                    <div *ngSwitchCase="states.error" class="w-100">
                                        <div class="alert alert-danger" role="alert">
                                            Something happened
                                        </div>
                                    </div>

                                    <div *ngIf="trending$ | async as trending">
                                        <ng-container *ngSwitchCase="states.loaded">

                                            <span class="fw-bold fs-5 text-primary"
                                                *ngIf="trending.trending else notTrending">
                                                {{trending.value | number:'1.2-2'}}
                                                <i class="img-fluid mdi mdi-trending-up"></i>
                                            </span>

                                            <ng-template #notTrending>
                                                <span class="fw-bold fs-5 text-danger">
                                                    {{trending.value | number:'1.2-2'}}
                                                    <i class="img-fluid mdi mdi-trending-down"></i>
                                                </span>
                                            </ng-template>

                                        </ng-container>
                                    </div>

                                </div>


                                <div class="input-group place-content-center">
                                    <div class="form-floating">
                                        <input type="text" currencyMask inputmode="decimal" placeholder="100"
                                            formControlName="sentAmount" class="form-control" id="sentId">
                                        <label for="sentId">You send exactly</label>
                                    </div>

                                    <span class="input-group-text bg-primary text-white">
                                        <img class="pe-2" height="24px" width="41px" src="../assets/icons/eur.webp">
                                        <span id="inputGroup-sizing-lg">EUR</span>
                                    </span>
                                </div>
                                <!-- <span
                                    *ngIf="conversionForm.controls['sentAmount'].dirty && conversionForm.controls['sentAmount'].invalid"
                                    class="text-danger">Your input is invalid</span> -->

                                <div class="input-group mt-4 place-content-center">
                                    <div class="form-floating">
                                        <input type="text" [options]="{ prefix: '$ '}" currencyMask inputmode="decimal"
                                            placeholder="100" formControlName="receivedAmount" class="form-control"
                                            id="recipientId">
                                        <label for="recipientId">Recipient gets</label>
                                    </div>

                                    <span class="input-group-text bg-primary text-white">
                                        <img class="pe-2" height="24px" width="41px" src="../assets/icons/usd.webp">
                                        <span id="inputGroup-sizing-lg">USD</span>
                                    </span>
                                </div>
                                <!-- <span
                                    *ngIf="conversionForm.controls['receivedAmount'].dirty && conversionForm.controls['receivedAmount'].invalid"
                                    class="text-danger">Your input is invalid</span> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
